<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.topStack.architect">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Architect"
        tools:targetApi="31">
        <activity
            android:name=".executor.HiExecutorDemoActivity"
            android:exported="false" />
        <activity
            android:name=".navigation.HiNavigationDemoActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation_demo" />
        <activity
            android:name=".item.HiItemDemoActivity"
            android:exported="false" />
        <activity
            android:name=".banner.HiBannerDemoActivity"
            android:exported="false" />
        <activity
            android:name=".refresh.HiRefreshDemoActivity"
            android:exported="false" />
        <activity
            android:name=".tab.HiTabTopDemoActivity"
            android:exported="false" />
        <activity
            android:name=".tab.HiTabBottomDemoActivity"
            android:exported="false"
            android:label="@string/title_activity_hi_tab_bottom_demo"
            android:theme="@style/Theme.Architect.NoActionBar" />
        <activity
            android:name=".log.HiLogDemoActivity"
            android:exported="false"
            android:label="@string/title_activity_hi_log_demo"
            android:theme="@style/Theme.Architect.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>